.imc {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.ce-mark {
    -webkit-mask-image: url("./ce-mark.svg");
    mask-image: url("./ce-mark.svg");
}

.di-mark {
    -webkit-mask-image: url("./di-mark.svg");
    mask-image: url("./di-mark.svg");
}

.ics-mark {
    -webkit-mask-image: url("./ics-mark.svg");
    mask-image: url("./ics-mark.svg");
}

.illio-mark {
    -webkit-mask-image: url("./illio-mark.svg");
    mask-image: url("./illio-mark.svg");
}

.imc-mark {
    -webkit-mask-image: url("./imc-mark.svg");
    mask-image: url("./imc-mark.svg");
}

.wpgu-mark {
    -webkit-mask-image: url("./wpgu-mark.svg");
    mask-image: url("./wpgu-mark.svg");
}
